name: Lint and Test Chart

on:
  pull_request:
    paths:
      - 'charts/matrix-authentication-service/**'

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: "0"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Add dependency chart repos
        # adds bitnami for postgres and matrix for synapse
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add matrix https://small-hack.github.io/matrix-chart

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        id: lint
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        id: install
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          echo "installing matrix"
          helm install matrix matrix/matrix --values .github/matrix_values.yaml

          echo "installing matrix auth service"
          ct install --target-branch ${{ github.event.repository.default_branch }} --helm-extra-set-args '--set=postgresql.enabled=true --set=postgresql.volumePermissions.enabled=false --set=postgresql.primary.networkPolicy.enabled=false'
